
*{
    box-sizing: border-box;
    
}
body{
    background-image: url("https://ericportis.com/assets/2013-12-16-xmas-lights/DSC_0599-Animated/quarter.gif");
    background-size: cover;
    background-blend-mode:soft-light;
    background-position: center;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}
a{
    position: absolute;
    margin: 0;
    right: 5%;
    top: 3%;
    color: white;
    text-decoration: none;
}
h1{
    color: #f9f4f4;
    font-weight:bolder;
    text-shadow: 3px 3px #101010;
    font-size: 65px;
    margin: -170px 0 40px;
}
div{
    color: blue;
}
#countdown{
    display: flex;
    transform: scale(2);
}
.time{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 15px;
}
.time h2{
    font-weight: bold;
    font-size: 36px;
    margin: 0 0 0px 0; 
    text-shadow: 
    0px 0.5px 0px #07076a,
    0px 1px 0px #07076a,
    0px 1.5px 0px #07076a,
    0px 2px 0px #07076a,
    0px 2.5px 0px #07076a,
    0px 3px 0px #07076a,
    0px 3.5px 0px #07076a,
    0px 4px 0px #07076a,
    0px 4.5px 0px #07076a,
    0px 5px 0px #07076a,
    0px 5.5px 0px #07076a,
    0px 6px 0px #07076a,

    6px 6px 5px #eaeaf2;
}
.time p{
    margin: 0;
    font-size: 30px;
}

@media only screen and (max-width: 1024px) {
    h1{
        text-shadow: 4px 4px 6px white;
        font-size: 45px;
        margin: -200px 0 20px;
    }
    .time h2{
        font-size: 25px;
        text-shadow: 
        0px 0.5px 0px #07076a,
        0px 1px 0px #07076a,
        0px 1.5px 0px #07076a,
        0px 2px 0px #07076a,
        0px 2.5px 0px #07076a,
        0px 3px 0px #07076a,
        0px 3.5px 0px #07076a,
        0px 4px 0px #07076a,
        0px 4.5px 0px #07076a,
        0px 5px 0px #07076a,
        0px 5.5px 0px #07076a,
        0px 6px 0px #07076a,
    
        6px 6px 5px #eaeaf2;
    }
    .time p{
        margin: 0;
        font-size: 12px;
    }
    #countdown{
        display: block;
    }
    .time{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 15px;
    }
}