* {
  box-sizing: border-box;
}

.background {
  background-size: cover;
  background-blend-mode: soft-light;
  background-position: center top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}
.december {
  background-image: url("./photos/xmastree.jpg");
}
.links {
  position: absolute;
  margin: 0;
  right: 5%;
  top: 3%;
  color: white;
  text-decoration: none;
}
.link-dec {
  background-color: blueviolet;
}
.header {
  color: #f2e8cf;
  font-weight: bolder;
  text-shadow: 5px 5px 4px #101010;
  font-size: 65px;
  margin: -170px 0 40px;
}
.countdown {
  display: flex;
  transform: scale(2);
}

.time {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 15px;
}
.time h2 {
  font-weight: bold;
  font-size: 38px;
  margin: 0 0 0px 0;
  color: #6a994e;
  text-shadow: 0px 0.2px 0px #3b6225, 0px 0.5px 0px #3b6225, 0px 1px 0px #3b6225,
    0px 1.2px 0px #3b6225, 0px 1.5px 0px #3b6225, 0px 2px 0px #3b6225,
    0px 2.2px 0px #3b6225, 0px 2.5px 0px #3b6225, 0px 3px 0px #3b6225,
    0px 3.2px 0px #3b6225, 0px 3.5px 0px #3b6225, 0px 4px 0px #3b6225,
    0px 4.2px 0px #3b6225, 0px 4.5px 0px #3b6225, 0px 5px 0px #3b6225,
    0px 5.2px 5px #183408;
}
.time p {
  color: #f2e8cf;
  margin: 0;
  font-size: 25px;
  text-shadow: 3px 3px 3px black, 4px 4px 4px black, 8px 8px 5px black;
}
.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Snowflake animation */
.snowflake {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.6;
  animation: snow 3s linear infinite;
}

@keyframes snow {
  0% {
    transform: translateY(-2vh);
    opacity: 0.79;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    font-size: 45px;
    margin: -180px 0 40px;
  }
  .time h2 {
    font-size: 25px;
    text-shadow: 0px 0.2px 0px #3b6225, 0px 0.6px 0px #3b6225,
      0px 1px 0px #3b6225, 0px 1.2px 0px #3b6225, 0px 1.6px 0px #3b6225,
      0px 2px 0px #3b6225, 0px 2.2px 0px #3b6225, 0px 2.6px 0px #3b6225,
      0px 3px 0px #3b6225, 0px 3.2px 0px #3b6225, 0px 3.6px 0px #3b6225,
      0px 4px 0px #3b6225, 0px 4.2px 0px #3b6225, 0px 4.6px 0px #3b6225,
      0px 4.7px 6px #1f5401;
  }
  .time p {
    margin: 0;
    font-size: 12px;
    text-shadow: 2px 2px 2px black, 3px 3px 3px black, 4px 4px 4px black,
      8px 8px 5px black;
  }
  .countdown {
    margin-top: 35px;
    display: block;
  }
  .time {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 15px;
  }
  .link-dec {
    top: 5px;
    width: 30%;
    background-color: #3b6225;
    border-radius: 10px;
  }
}
/* xmas  */

.xmas {
  background-image: url("photos/xmasdeco.jpg");
  display: none;
}

.link-xmas {
  background-color: #d90429;
  border-radius: 6px;
}

.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Snowflake animation */
.snowflake {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.6;
  animation: snow 3s linear infinite;
}

@keyframes snow {
  0% {
    transform: translateY(-2vh);
    opacity: 0.79;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0.5;
  }
}
